body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    height: 50px;
    width: 100px;
    border: none;
    position: relative;
    overflow: hidden;
}
button::before{

    content: "";
    position: absolute;
    background-color: orange;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s,height 0.5s;
    left: var(--xPox);
    top: var(--yPox);
    width: 0;
    height: 0;
    

}
button:hover::before{
    width: 300px;
    height: 300px;
}
